:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: flex;
    justify-content: center;
}

[class^="column"] {
    align-content: center;
    text-align: center;
}

[class^="cell"] {
    align-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
    border: .5px solid #000;
    text-align: center;
}