:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

/* Body styles */
body {
    margin: 0;
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height to fill viewport */
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
}

[class^="column"] {
    align-content: center;
    text-align: center;
}

[class^="cell"] {
    align-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
    border: .5px solid #000;
    text-align: center;
}

#content {
    flex: 1;
}

#container {
    margin: 20px;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

#sideBar {
    margin: 50px 20px 20px 20px;
}

footer a {
    padding: 10px;
    text-decoration: none;
}

footer {
    display: flex;
    padding: 1rem 12rem;
    justify-content: center;
    color: #fff;
}